.burger {
    width: 200px;
    height: 115px;
	position: absolute;
    background-color: #EFEFEF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__chat {
        top: 95px;
        right: 15px;
    }
    &__message {
        bottom: 60px;
    }
    &_hide {
        display: none;
    }
	&__item {
		width: 180px;
		border-radius: 8px;
		text-align: left;
		padding: 7px;
		margin: 3px;
	}
}
