@import './variables';

.btn {
	width: 280px;
	height: 37px;
	background: $accent;
	border-radius: 8px;
	border: none;
	color: $white;
	cursor: pointer;
	&_mini {
		width: 28px;
		height: 28px;
		background: $accent;
		border-radius: 50%;
	}
	&_flat {
		max-width: 120px;
		height: 13px;
		color: $accent;
		background-color: transparent;
		text-decoration: none;
	}
}
