@import './variables';
@import './buttons';
@import './inputs';


* {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	
}

ul {
	list-style: none;	
}
