@import '../../style/variables';

.home {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	.left {
		width: 25%;
		background: $main-color;
		padding: 20px 10px;
		.profile-btn {
			text-align: right;
			color: #999;
			font-size: 15px;
			line-height: 15px;
			margin: 0 0 0 76%;
		}
		.search {
			margin: 0 auto;
			box-sizing: border-box;
			input {
				width: 100%;
				height: 33px;
				text-align: center;
				background: $main-shadow;
				border: none;
				border-radius: 7px;
				margin: 5% 0;
				padding: 0;
				&:focus {
					outline: none;
				}
			}
		}
		.chats {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.chat {
				margin: 2% 0;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 80px;
				background: $white;
				border-radius: 12px;
				background-color: $main-color;
				&_active {
					background-color: $accent-light;
				}
				&__photo {
					margin: 3%;
					width: 55px;
					height: 55px;
					background: $main-shadow;
					border-radius: 50%;
				}
				&__info {
					box-sizing: border-box;
					padding: 2%;
					width: 80%;
					height: 90%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					&__message {
						width: 200px;
						height: 50px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: start;
					}
					&__name {
						max-width: 193px;
						max-height: 13px;
						font-weight: 600;
						color: $text;	
						text-align: left;	
					}
					&__last-msg {
						max-width: 200px;
						max-height: 30px;
						text-align: left;
						font-size: 12px;
						line-height: 15px;
						color: $text-shadow;
					}
					&__stat {
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-items: center;
						height: 100%;
						margin-right: 10px;
					}
					&__time {
						width: 25px;
						height: 13px;
						font-size: 9px;
						text-align: right;
						color: $text-shadow;
					}
					&__new-msg {
						visibility: hidden;
						border-radius: 50%;
						width: 20px;
						height: 20px;
						background: $accent;
						&_active {
							visibility: visible;
						}
					}
				}
			}
		}
	}
	.right {
		width: 75%;
		background: $white;;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 15px;
		.user-bar {
			width: 100%;
			height: 72px;
			background-color: $main-color;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			border-radius: 20px;
			&__user {
				margin-left: 20px;
				width: 250px;
				height: 50px;
				display: flex;
				justify-content: start;
				align-items: center;
			}
			&__photo {
				width: 50px;
				height: 50px;
				background-color: $main-shadow;
				border-radius: 50%;
			}
			&__name {
				margin-left: 20px;
				height: 13px;
				font-weight: 600;
				font-size: 15px;
				line-height: 15px;
				color: $text;
			}
			&__menu {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 5px;
				height: 27%;
				margin-right: 42px;
				span {
					display: block;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: $text;
				}
			}
		}
		.message-history {
			height: 75%;
			padding: 0 15px;
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: flex-end;
			&__empty {
				width: 300px;
				height: 20px;
				font-size: 14px;
				line-height: 12px;
				text-align: center;
				color: $text-shadow;
				margin: auto;
			}
			&__message {
				min-height: 20px;
				min-width: 20px;
				max-width: 45%;
				border-radius: 10px 10px 10px 0;
				padding: 5px 10px;
				display: flex;
				align-items: center;
				justify-content: center;
				word-wrap: normal;
				font-size: 14px;
				line-height: 15px;
			}
			.message_user {
				background: $accent-light;
				border-radius: 10px 10px 0;
				align-self: end;
				text-align: left;
			}
			.message_friend {
				background: $main-color;
				text-align: left;
			}
		}
		.message-bar {
			margin-top: 15px;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			&__message {
				width: 98%;
				height: 32px;
				background: $main-shadow;
				border-radius: 30px;
				border: none;
				padding-left: 20px;
				font-weight: 300;
				text-align: left;
				&:focus {
					outline: none;
				}
				&-wrapper {
					width: 90%;
					height: 32px;
				}
				&_validate {
					border: 1px solid $validate;
				}
			}
		}
	}
}
